# .gitignore

# Исключить виртуальную среду
venv/
env/

# Исключить временные файлы и кэш
*.pyc
__pycache__/

# Исключить конфиденциальные файлы
.env
token.json
credentials.json

# Исключить системные файлы (например, для macOS и Windows)
.DS_Store
Thumbs.db
