aiogram==3.7.0
aiogram_calendar==0.5.0
APScheduler==3.10.4
google_api_python_client==2.127.0
google_auth_oauthlib==1.2.0
protobuf==5.27.0
python-dotenv==1.0.1
python_dateutil==2.9.0.post0
SQLAlchemy==2.0.30
